.logContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    overflow-y: scroll;
    background: teal;
    color: white;
    padding-left: 150px;
}

.log {
    display: flex;
    flex-direction: column;
}