.turnList {
	font-size: 20px;
	color: crimson;
}

.turn {
	border-bottom: 2px solid teal;
}

.turnOrderText {
	margin: 0px auto;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tableInput {
	width: 20px;
	height: 20px;
}

.holyTable {
	margin: 75px 150px 0 0;
}